* {
  padding: 0;
  margin: 0;
}

#grid {
  display: grid;
  grid-template-columns: 3.75% 13.25% 83%;
  grid-gap: 0;
  grid-template-areas:
    "main-menu  main-menu  main-menu"
    "left-menu  explorer  code"

    "footer footer footer"
  ;
}

#grid>div {

  background: gold;
  text-align: center;
}

#grid>.main-menu {
  height: 46px;
  grid-area: main-menu;
  background-color: #323233;
}

#grid>.left-menu {
  height: 860px;
  grid-area: left-menu;
  background-color: #323233;
}

#grid>.explorer {
  height: 860px;
  align-content: end;
  grid-area: explorer;
  position: relative;
  background-color: #252526;
}

#grid>.code {
  height: 860px;
  position: relative;
  grid-area: code;
  background-color: #1e1e1e;
}

.terminal {
  background-color: #1e1e1e;
  width: 100%;
  border-top: 2px solid #474747;
  height: 300px;
  position: absolute;
  bottom: 0;
}

.code-editor {
  background-color: #1e1e1e;
  font-size: 25px;
  height: 560px;
  color: white;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
}

#grid>.footer {
  grid-area: footer;
  height: 36px;
  background-color: #007acc;
}

.header-left>li {
  font-size: larger;
  font-family: sans-serif;
  list-style: none;
  float: left;
  padding: 12px;
  display: inline;
}

ul.header-center {
  font-size: 16px;
  font-family: sans-serif;
  list-style: none;
  float: left;
  padding: 15px;
  margin-left: 200px;
  display: inline;
  color: rgb(226, 223, 223);
}

.header-right>li {
  font-size: 16px;
  font-family: sans-serif;
  list-style: none;
  float: right;
  padding: 15px;
  display: inline;
  color: rgb(226, 223, 223);
}

a {
  color: rgb(226, 223, 223);
  text-decoration: none;
}

.logo {
  float: left;
  padding: 10px;
  padding-left: 15px;
  width: 23px;
  height: 23px;
}

.bottom {
  background-color: #252526;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #474747;
  height: 30px;
}

.bottom-2 {
  background-color: #252526;
  position: absolute;
  bottom: 32px;
  width: 100%;
  border-top: 2px solid #474747;
  height: 30px;
}