* {
  padding: 0;
  margin: 0;
}

#grid {
  display: grid;
  grid-template-columns: 3.75% 13.25% 83% ;
  grid-gap: 0;
  grid-template-areas:
    "main-menu  main-menu  main-menu"
    "left-menu  explorer  code"
    "footer footer footer"
  ;
}

#grid>div {

  background: gold;
  text-align: center;
}

#grid>.main-menu {
  height: 46px;
  grid-area: main-menu;
  background-color: #323233;
}

#grid>.left-menu {
  height: 860px;
  grid-area: left-menu;
  background-color: #323233;
}

#grid>.explorer {
  height: 860px;

  grid-area: explorer;
  background-color: #252526;
}

#grid>.code {
  height: 860px;

  grid-area: code;
  background-color: #1e1e1e;
}

#grid>.footer {
  grid-area: footer;
  height: 36px;
  background-color: #007acc;
}